body {
  margin: 5rem;
  padding: 10px;
}
.countsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 2rem;
}
.countbtn {
  width: 7rem;
}
.mynext {
  margin-top: 7rem;
}
.inputField {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 3rem;
}
